<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsw.system.mapper.SystemAddressMapper">
    
    <resultMap type="com.wsw.system.domain.dao.SystemAddress" id="SystemAddressResult">
    	<id     property="id"      column="id"      />
        <result property="code"    column="code"    />
        <result property="type"     column="type"     />
        <result property="shortName"     column="short_name"     />
        <result property="fullName"     column="full_name"     />
        <result property="parentCode"     column="parent_code"     />
        <result property="addressStatus"     column="address_status"     />

        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
</mapper>